[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.13"
django-crispy-forms = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
setuptools = "*"
django-storages = "*"
boto3 = "*"
django-language-field = "*"
psycopg2 = "*"
django-countries = "*"
django-phone-field = "*"
django-truncate = "*"

[requires]
python_version = "3.6"
