
{% extends "blog/base.html" %}
{% block content %}

<section class=".container-fluid">
<div class="row" style="background-color:blueviolet">
  <div class="col-md-4">
    <div class="jumbotron animated slideInLeft" style="background-color:white">
      <img src="./img/send.png">
      <h4>Facil de contacto</h4>
      <h6>Conectate con personas que comparten tus intereses</h6>
    </div>

  </div>

  <div class="col-md-8">
    <div class="jumbotron animated slideInRight" style="background-color:chocolate">
      <img src="">
      <h4>Facil de contacto</h4>
      <h6>Conectate con personas que comparten tus intereses</h6>
    </div>

  </div>
</div>


<div class="row" style="background-color:blueviolet">
  <div class="col-md-8">
    <div class="jumbotron animated slideInLeft" style="background-color:chocolate">
      <img src="">
      <h4>Facil de contacto</h4>
      <h6>Conectate con personas que comparten tus intereses</h6>
    </div>

  </div>
  <div class="col-md-4">
    <div class="jumbotron animated slideInRight" style="background-color:white">
      <img src="./img/star.png">
      <h4>Facil de contacto</h4>
      <h6>Conectate con personas que comparten tus intereses</h6>
    </div>

  </div>

</div>

<div class="row" style="background-color:blueviolet">
  <div class="col-md-3">
    <div class="jumbotron animated slideInLeft" style="background-color:white">
      <img src="./img/save.png">
      <h4>Facil de contacto</h4>
      <h6>Conectate con personas que comparten tus intereses</h6>
    </div>

  </div>
  <div class="col-md-9">
    <div class="jumbotron animated slideInRight" style="background-color:chocolate">
      <img src="">
      <h4>Facil de contacto</h4>
      <h6>Conectate con personas que comparten tus intereses</h6>
    </div>

  </div>
</div>






</section>
    

{% endblock content %}
 