{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form id="form"  method="POST" class="form-group">
					<div class="page-header">
						<h3>Actualizar Contrasena</h3>
						<hr>
						</div>
						<div class="form-group">
						<br>
						<form method="POST">
						{% csrf_token %}
						{{ form|crispy }}
							
						 <button type="submit" class="btn btn-success">Solicitar Actualizacion</button>
						</form>   
						</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}
{% block extra_js %}
<script>
$('[name ="username"]').keypress(function (e) {
    var regex = new RegExp("^[a-zA-Z0-9]+$");
    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    if (regex.test(str)) {
        return true;
    }

    e.preventDefault();
    return false;
});
$(document).ready(function() {        
    $('[name ="username"]').inputlimiter({
        limit: 40,
        remText: '%n caractere%s restantes.',
        limitText: 'Usuario limitado a %n caractere%s.'
    });
    $('[name ="email"]').inputlimiter({
        limit: 30,
        remText: '%n caractere%s restantes.',
        limitText: 'Correo electronico limitado a %n caractere%s.'
    });
          
    $('#hint_id_username').hide();
    $('#hint_id_password1').hide();
});
var changeType = function ( ele, type ) {
    if ( ele.prop( 'type' ) === type ) {
        return ele;
    }
 
    try {
        return ele.prop( 'type', type ); //Stupid IE security will not allow this
    } catch ( e ) {
        // Try re-creating the element (yep... this sucks)
        // jQuery has no html() method for the element, so we have to put into a div first
        var html = $( '<div>' ).append( ele.clone() ).html(),
            regex = /type=(")?([^"\s]+)(")?/, //matches type=text or type="text"
 
            //If no match, we add the type attribute to the end; otherwise, we replace
            tmp = $( html.match( regex ) === null ?
                html.replace( '>', ' type="' + type + '">' ) :
                html.replace( regex, 'type="' + type + '"' ) ),
            events,
            cb;
 
        //Copy data from old element
        tmp.data( 'type', ele.data( 'type' ) );
        events = ele.data( 'events' );
 
        cb = function ( events ) {
            return function () {
                //Bind all prior events
                for ( var i in events ) {
                    var y = events[ i ];
                    for ( var j in y ) {
                        tmp.bind( i, y[ j ].handler );
                    }
                }
            };
        } ( events );
 
        ele.replaceWith( tmp );
        setTimeout( cb, 10 ); // Wait a bit to call function
 
        return tmp;
    }
}
/**
 * passUnmask
 * Reveals a password input changing its type to text.
 *
 * @return  void
 */
var passUnmask = function ( $input ) {
    $input.each( function () {
        var $self = $( this );        
        changeType( $self, $self.attr( 'type' ) === 'password' ? 'text' : 'password' );        
    } );
};
$( '.view-password' ).on( 'click', function () {
    passUnmask( '.user-password' );
} );
</script>
{% endblock extra_js %}